@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
// $header-font:  "Aleo","Skolar","ff-tisa-web-pro","Georgia",serif;
$header-font: 700 2.2rem/1.5 "Aleo","Skolar","ff-tisa-web-pro","Georgia",serif;
// Colors Variable
$new-header: url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$navy-blue: #262743;